.cardItem {
  border: 1px dashed gray;
  padding: 0.5rem 0.8rem;
  border-radius: 0;
  margin: .5rem;
  cursor: move;
  text-transform: capitalize;
  position: relative;
}

.deleteCard {
  color: firebrick !important;
  position: absolute;
  top: -3px;
  right: 2px;
}

.deleteCard:hover {
  color: firebrick;
  cursor: pointer;
}
