@media only screen and (max-width: 768px) {
  .eventTile {
    margin-right: 30px;
    margin-left: 29px;
    max-width: 81vw;
  }
}

.eventTile a:hover {
  text-decoration: none;
}

.eventTile .collapse, .collapsing {
  position: absolute;
  top: 45px;
  left: 22px;
}

.eventTile .collapse button, .collapsing button {
  margin: 2px;
}

.editEvent {
  position: absolute;
  top: 8px;
  left: 24px;
}

.deleteEvent {
  position: absolute;
  top: 8px;
  right: 8px;
}

.pexel-navigate:hover {
  background-color: #e6e6e6;
}

#pexel-images img {
  width: 100%;
  height: auto;
  border: #e6e6e6 1px solid;
}

#pexel-images img:hover, .highlight {
  border: groove #DC3545 2px;
}

.highlight {
  border: groove #DC3545 2px !important;
}
